.todo__container {
	min-height: 100vh;
	min-width: 100vw;
}

.todo__content {
	background-color: #ffffff;
	height: 85vh;
	width: 90vw;
	position: absolute;
	top: 10vh;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 4px 10px 2px rgba(80, 80, 80, 0.5);
	display: flex;
	flex-direction: column;
}

.todo__appbar {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 10vh;
	background-color: #ffffff !important;
}

.add__todo {
	height: 40px;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-right: 20px !important;
}

.PrivateTabIndicator-colorPrimary-2 {
	display: none;
}

.MuiTabs-flexContainer {
	height: -webkit-fill-available;
}

.todo__all__list {
	display: flex;
	flex-direction: column;
	max-height: 75vh;
	overflow-y: auto;
}
