.header__container {
	display: flex;
	background-color: #263eac;
	height: 20vh;
}

.header__bar {
	height: 10vh;
	width: 90vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

.header__bar__left {
	margin-left: 20px;
}

.header__bar__right {
	margin-right: 20px;
	display: flex;
}

.header__button {
	color: white !important;
}
